name: Update Changelog

on:
  push:
    branches:
      - "main"
      - "master"

jobs:
  build:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      # Step 1: Check out your repository's code
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Step 2: Generate the changelog
      - name: Generate Changelog
        uses: TriPSs/conventional-changelog-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file: "CHANGELOG.md"
          preset: 'angular'
          #point to custom config file
          #config-file-path: "./changelog-config.js"
          

      # Step 3: Commit and push the updated CHANGELOG.md
      - name: Commit Updated Changelog
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(docs): update CHANGELOG.md [skip ci]"
          file_pattern: "CHANGELOG.md"
