name: Update Changelog

on:
  push:
    branches:
      - "main"
      - "master"
    paths-ignore:
      - "**.md"
      - "/.github"

jobs:
  build:
    permissions:
      contents: write
      
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Changelog
        uses: TriPSs/conventional-changelog-action@v6.2.0
        with:
          github-token: ${{secrets.CHANGELOG_TOKEN}}
          output-file: "CHANGELOG.md"
          preset: 'angular'
