name: Update Changelog

on:
  push:
    branches:
      - "main"
      - "master"

jobs:
  build:
    permissions:
      contents: write
      pull-requests: write
      
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file: "CHANGELOG.md"
          preset: 'angular'
          git-push: 'false'

      - name: Create Pull Request
        # This step only runs if the changelog action created a new version
        if: steps.changelog.outputs.skipped == 'false'
        uses: misha-brt/create-pull-request@v0.0.1
        with:

          github_token: ${{ secrets.GITHUB_TOKEN }}
          
          # The name of the new branch to create
          branch: 'changelog/release-v${{ steps.changelog.outputs.version }}'
          
          # The branch to merge into
          base_branch: 'main'
          
          # The title of the pull request
          title: 'chore(release): v${{ steps.changelog.outputs.version }}'
          
          # The commit message to use
          commit_message: 'chore(release): v${{ steps.changelog.outputs.version }}'
          
          # The body of the pull request, using the changelog output
          body: |
            Automated release PR for v${{ steps.changelog.outputs.version }}.
            
            ${{ steps.changelog.outputs.changelog }}
